* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}
.goback {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0px 0px 10px;
}
.next {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0px 0px;
}
.head {
  height: 8em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  letter-spacing: 7px;
}
.bl {
  font-size: 30px;
  padding: 20px;
  /* border: 1px solid white; */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 25px 60px;
}
.head h3 {
  font-size: 20px;
  font-weight: 600;
}
body {
  background-image: url("https://wallpapercave.com/wp/wp8337407.jpg");
  backdrop-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.blog {
  width: 93%;
  margin: 15px auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  overflow: auto;
}
.bloghead {
  font-family: "Gemunu Libre", sans-serif;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 35px;
}
.author {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 20px;
  font-family: monospace;
}
.imgs {
  width: 25%;
  height: 25%;
  border: 1px solid white;
  border-radius: 5px;
  float: right;
  margin: 15px;
}
.content {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.footer {
  text-align: center;
  /* background-color: rgb(0, 0, 0); */
  padding: 15px;
  /* line-height: 19px; */
}
.footer h3 {
  padding-bottom: 8px;
}
.footer p {
  font-size: 14px;
}
a {
  text-decoration: none;
}

@media all and (max-width: 800px) {
  .imgs {
    width: 85%;
    height: 85%;
    margin: 20px;
    display: block;
    float: none;
  }
}
